
body {
	color: black;
	font-family: Helvetica;
	background: url(images/office.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color:#433015;

}

h1 {
	font: 47px serif; 
	text-align: center;
	padding-bottom: 40px;
	padding-left: 270px;
}

#main {
	padding-left: 60px;
}

h2 {
	font: 50px serif;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 30px;

}

h3 {
	font: 40px serif;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 20px;

}

h4 {
	font-size: 30px;
}



.imgsign { 
	font-size: 20px;
	color: black;
	margin-left: 30px;
	vertical-align: 250px;

}
 



table, tr, td {
	border: 1px solid black;
	font-size: 18px;
	padding: 5px 7px 5px 7px;
	text-align: center;



}

a {
	color: #1D3562;
}


ul.a {
	list-style-type: circle;

}


#a1 {
	color: green;
}


.message {

	
	color: black;
	font-size: 18px;
	font-weight: 500;
	background-color: #DADCDC;
	border: 1px solid #393939;
	margin: 15px 300px 30px auto; 
	padding-top: 15px;
	padding-left: 5px;
	border-radius: 30px;
	opacity: 0.6;
	box-shadow: -20px 20px 10px #000000;
	height: 30px;
	width: 400px;
	display: block;
	text-align: center;
	text-decoration: none;	
}

.message:hover {

	border: 3px solid #393939;
	opacity: 0.8;
	transform: rotate(1deg);
	transition: 0.4s all;
	width: 420px;
}

.message:active {
	opacity: 0.4;
	transition: 0.1s all;
}

.htmlpage {opacity: 0.8;
	width: 420px;

}
.csspage {opacity: 0.8;
	width: 420px;

}
.bootstrappage {opacity: 0.8;
	width: 420px;

}
.javascriptpage {opacity: 0.8;
	width: 420px;

}
.angularpage {opacity: 0.7;
	width: 420px;

}

.boot {
	background: #330C73;
	color: #ffffff;
}

.js {
	background: #6E6E00;
	color: #ffffff;
}

.angular {
	background: #7E0000;
	color: #ffffff;
}

.css {
	background: #134A8A;
	color: #ffffff;
}

.html {
	margin-top: 30px;
	background: #AF5D09;
	color: white;
}



.button {
 background-color: #607180;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.6;
  outline: none;
}

.button:hover {
	opacity: 0.9;
	transition: 0.4s;
}
 
 .button:active {
 	opacity: 0.4;
	transition: 0.2s;
 }

#table {margin-left: 20px;
	margin-bottom: 80px;

}

img {width: 300;
	border: 0;
	margin-bottom: 50px;
	margin-left: 40px;

}
